* {
    margin: 0;
    padding: 0;
}

.header {
    line-height: 60px;
    background-color: #333;
}

.header-content {
    width: 600px;
    margin: 0 auto;
    color: #fff;
    font-size: 24px;
}

.header-input {
    outline: none;
    width: 60%;
    margin-top: 15px;
    float: right;
    line-height: 24px;
    border-radius: 5px;
    padding: 0 10px;
}